.foot-img {
  max-width: 144opx;
  width: 100%;
}

.inn-footer {
  top: 134px;
  left: 6.875%;
  gap: 80px;
  font-family: "Comfortaa", sans-serif;
  width: 821px;
}

.foot-one {
  gap: 32px;
}

.foot-one p {
  font-weight: 400;
  line-height: 22.4px;
  color: #2d2d2d;
  width: 243px;
}

.foot-two,
.font-three {
  gap: 28px;
}

.foot-two h5,
.font-three h5 {
  font-weight: 700;
  color: #2d2d2d;
}

.foot-two p,
.font-three p {
  margin: 0;
  color: #2d2d2d;
}
